.drinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 90%;
  margin: 2rem auto;
  list-style-type: none;
}

@media only screen and (max-width: 480px) {
  .drinks {
    margin-top: 0.3rem;
    margin-right: 10rem;
    margin-left: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .drinks {
    margin-top: 0.3rem;
    margin-right: 8rem;
    margin-left: 1.7rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
