.HomeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.Nav {
  background: rgb(29, 1, 1);
  width: 100%;
}
.nameImage {
  height: 3rem;
}
.img {
  width: 2rem;
  height: 4rem;
}
.img1 {
  margin-left: 2rem;
}
.img2 {
  margin-right: 2rem;
}
.welcome {
  font-size: large;
  padding: 0.2rem;
}
.HomeHeader {
  margin-top: 1rem;
}

@media only screen and (min-width: 641px) {
  .img {
    width: 5rem;
    height: 6rem;
  }

  .nameImage {
    height: 7rem;
  }

  .welcome {
    font-size: x-large;
  }
}
@media only screen and (min-width: 1008px) {
  .nameImage {
    height: 7rem;
  }

  .welcome {
    font-size: xx-large;
  }
}
