.inputSearch {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 70%;
  margin-left: 15rem;
  padding: 2rem;
}
.inputSect {
  margin-top: 2rem;
}

.input1 {
  height: 5rem;
  font-size: larger;
}

@media only screen and (min-width: 300px) and (max-width:496px) {
  .inputSearch {
    width: 50%;
    margin-left: 4rem;
  }
}
@media only screen and (min-width: 496px) and (max-width:796px) {
  .inputSearch {
    width: 75%;
    margin-left: 4rem;
  }
}

@media only screen and (min-width: 796px) and (max-width:1050px) {
  .inputSearch {
    width: 75%;
    margin-left: 4rem;
  }
}
@media only screen and (min-width: 1050px) and (max-width:1500px) {
  .inputSearch {
    width: 75%;
    margin-left: 10rem;
  }
}
