.inputSearch {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 65%;
  padding: 2rem;
 
}

.inputSect {
  margin-top: 5%;
  margin-left: 15%;
}



@media only screen and (min-width:641px) {
  .inputSearch {
    width: 75%;
  }

  .inputSect{
    margin-left: 12%;
  }
}

@media only screen and (min-width: 1008px)  {
    .inputSearch {
    width: 80%;
  }
  .inputSect{
    margin-left: 14%;
  }
}

